body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    position: relative;
    width: 100%;
    height: 100vh;
    /* overflow: hidden; */
}

#top{
    background: #14b45c;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 0 0 10px 10px;
}

#top .logo{
    display: flex;
    justify-content: space-between;
}

.logo img, #bell{
    width: 70px;
    height: 70px;
    margin: 0px 20px 0 20px;
}

.logo #bell{
    border: none;
    cursor: pointer;
    color: white;
    background: #14b45c;
    font-size: 25px;
}

#top .slogan, .visit{
    color: white;
    margin: 0px 20px 0 20px;
}

#top .visit{
    display: flex;
}

#top .visit .location{
    margin:0px 10px 0 10px;
}

#top .search{
    display: flex;
    background: white;
    height: 30px;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
}

#top .search button, input{
    border: none;
    background-color: white;
    font-size: 15px;
}

#top .search button{
    color: gray;
    cursor: pointer;
}

#top .search input{
    flex-grow: 1;
    outline: none;
}

.sidebar{
    display: flex;
    justify-content: space-around;
    margin: 20px;
    padding: 10px;
}

.sidebar .list{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

.sidebar .list i{
    margin: 5px;
    padding: 20px;
    border-radius: 15px;
    opacity: 0.75;
    font-size: 20px;
}

.sidebar .list span{
    color: rgb(48, 46, 46);
    margin: 5px;
}

.sidebar .list .fa-house{
    background: oklch(0.95 0.052 163.051);
    color: green;
}

.sidebar .list .fa-star{
    background: oklch(0.962 0.059 95.617);
    color: orange;
}

.sidebar .list .fa-calendar{
    background: oklch(0.932 0.032 255.585);
    color: blue;
}

.sidebar .list .fa-users{
    background: oklch(0.946 0.033 307.174);
    color: purple;
}